<div class="short">
	<p id="notice"><%= notice %></p>

	<p>The shortened URL is<%= link_to link_url(@link), link_url(@link) %></p>

	<p>
	  <strong>Original:</strong>
	  <%= @link.original %>
	</p>

	<p>
	  <strong>Clicks:</strong>
	  <%= @link.clicks %>
	</p>
</div>

<div class="back">
	<%= link_to 'Back', links_path %>
</div>
