<!DOCTYPE html>
<html>
<head>
  <title>CmbillsShortener</title>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<% if params["action"]=="create" %>
		<div class="header">
			<%= render "link_header" %>
		</div>
		<div class="content">
			<%= yield %>
		</div>
		<script>
			$(".disappear").hide()
		</script>
	<% else %>
		<div class="header">
			<%= render "header" %>
		</div>
		<div class="content">
			<%= yield %>
		</div>
		<script>	
			$(function(){
				$(".content").hide()
				loadLanding()
			});
		</script>
	<% end %>
</body>
</html>
